<!DOCTYPE html>
<html class="csstransforms csstransforms3d csstransitions no-js skrollr skrollr-desktop" lang="en">
    <head>
        <title>Campusfeed- Everything about college, in one place.</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
       
        <!-- responsive -->
        <link rel="stylesheet" type="text/css" href="css/patternLock.css">
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <script src="js/jquery-1.11.0.min.js"></script>
        <script src="js/bootstrap.min.js"></script>

    </head>

    <body >
    <div id="container" style="position:relative;">
        <div style="position: absolute;">
            <img src="images/key.png" class="col-xs-12" style="height:150%;width:140%;" />
        </div>
        <div  id="patternHolder" style="position: absolute;z-index:10;margin-top:8%;margin-left:28%;" class="col-xs-offset-3">


        </div>
        
    </div>
    <div class="container">
        <button class="col-sm-3 btn btn-primary" id="save" onclick="save()">Save</button>
        <button class="col-sm-3 btn btn-primary" onclick="reset()">Reset</button>
        <button class="col-sm-3 btn btn-primary" onclick="trykey()">Try</button>
    </div>
    <br /><br />
    <script src="js/patternLock.js"></script>
    <script>
    

    var code = [], i=0;
    var lock= new PatternLock('#patternHolder',{matrix:[8,5],radius:20,margin:5,onDraw:function(pattern){
        console.log(pattern);
        code[i] = pattern;
        i++;
    }, enableSetPattern : true,delimiter:'-'});

    var saved_code= window.localStorage.getItem("code");
    if(saved_code){
        console.log(saved_code);
        var res = saved_code.split(",");
        for(var j=0;j<8;j++){
            console.log(res[j]);
            lock.setPattern(res[j]);
        }
        lock.disable();
    }

        
    
    function save(){
        console.log(code);
        window.localStorage.setItem("code", code);
        $('#save').html("Saved!");
    }
    function reset(){
        lock.reset();
        lock.enable();
        $('#save').html("Save");
        window.localStorage.clear();
    }
    function trykey(){
        
        var saved_code= window.localStorage.getItem("code");
        var res = saved_code.split(",");
        $.ajax({
            url: "/checkkey",
            type: "POST",
            dataType: "json",
            data: JSON.stringify({"code":res}),
            success: function (data, textStatus, jqXHR) {
              console.log("Success");
            },
            error: function (jqXHR, textStatus, exception) {
              console.log(exception);
            }
        });
    }

    </script> 
        
    </body>
</html>