
<!DOCTYPE html>
<!--[if IE 8]>          <html class="ie ie8"> <![endif]-->
<!--[if IE 9]>          <html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->  <html> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title>Campusfeed, everything about college, in one place</title>
        <meta name="keywords" content="HTML5,CSS3,Template" />
        <meta name="description" content="" />
        <meta name="Author" content="Saumitra Khanwalker" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- mobile settings -->
        <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
        <link rel="shortcut icon" href="images/favicon.png" />
        <!-- Favicon -->

        <!-- WEB FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext" rel="stylesheet" type="text/css" />

        <!-- CORE CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="css/sky-forms.css" rel="stylesheet" type="text/css" />
        <link href="css/weather-icons.min.css" rel="stylesheet" type="text/css" />
        <link href="css/line-icons.css" rel="stylesheet" type="text/css" />
        <link href="css/magnific-popup.css" rel="stylesheet" type="text/css" />
        <link href="css/animate.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="css/image-crop-styles.css" />
        <!-- THEME CSS -->
        <link href="css/essentials.css" rel="stylesheet" type="text/css" />
        <link href="css/layout.css" rel="stylesheet" type="text/css" />
        <link href="css/cropme.css" rel="stylesheet" type="text/css" />
        <link href="css/header-2.css" rel="stylesheet" type="text/css" />
        <link href="css/bootcards-desktop.min.css" rel="stylesheet" type="text/css" />
        <link href="css/footer-default.css" rel="stylesheet" type="text/css" />
        <link href="css/orange.css" rel="stylesheet" type="text/css" id="color_scheme" />
        
        <script src="js/jquery-1.11.0.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-route.min.js"></script>
        <script src="js/angular-touch.min.js"></script>
        <script src="js/angular-sanitize.min.js"></script>
        <script src="js/mobile-angular-ui.min.js"></script>
        <script src="js/superswipe.js"></script>
        <script src="js/cropme.js"></script>
        <script src="js/image-crop.js"></script>
        <script src="js/JIC.min.js"></script>
        <script src="js/mobile-angular-ui.gestures.min.js"></script>
        <script src="js/ui-bootstrap-tpls-0.13.3.min.js"></script>
        
    </head>
    <style>
    .vertical-center {
        margin-top: 20%;
    }
    .shadow {
      -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
      -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
      box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    }
    .fixedSize {
        display: block;
        max-width:400px;
        max-height:400px;
        width: auto;
        height: auto;
    }
    #cropme-cancel, #cropme-ok { display: none; }
    </style>
    <!-- 
        Available body classes: 
            smoothscroll            = enable chrome browser smooth scroll
            grey                    = grey content background
            boxed                   = boxed style
            pattern1 ... pattern10  = background pattern

        Background Image - add to body: 
            data-background="assets/images/boxed_background/1.jpg"
    -->
    <body class="smoothscroll">

        <div id="wrapper">

            <div id="header" ng-controller="navController"><!-- class="sticky" for sticky menu -->

                <!-- Top Nav -->
                <header id="topNav">
                    <div class="container">
                        <a class="logo" href="http://campusfeedapp.com">
                            <img src="images/logo-dark.png" height="50" alt="" />
                        </a>

                        <!-- Mobile Menu Button -->
                        <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                            <i class="fa fa-bars"></i>
                        </button>

                        
                        <!-- Top Nav -->
                        <div class="navbar-collapse nav-main-collapse collapse pull-right">
                            <nav class="nav-main">

                                <!--
                                    NOTE
                                    
                                    For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
                                    Direct Link Example: 

                                    <li>
                                        <a href="#">HOME</a>
                                    </li>
                                -->
                                <ul id="topMain" class="nav nav-pills nav-main">
                                    <li >
                                        <a  href="#/">
                                            Home<span>Updates</span>
                                        </a>
                                    </li>
                                    <li >
                                        <a  href="#/mychannels/explore">
                                            Channels I own<span>Track your channels</span>
                                        </a>
                                    </li>
                                    <li >
                                        <a  href="#/discoverchannels">
                                            Discover Channels<span>Others' broadcasts</span>
                                        </a>
                                    </li>
                                    <li >
                                        <a  href="#/mychannels/addpost">
                                            Add a post<span>Post on your channels</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a  href="#/createchannel">
                                            Create a channel<span>Get broadcasted</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a  href="http://campusfeedapp.com/#contact">
                                            Contact us<span>We <i class="fa fa-heart"></i> feedback!</span>
                                        </a>
                                    </li>
                                    <li ng-if="loggedIn==true">
                                        <span dropdown on-toggle="toggled(open)">
                                          <a href id="simple-dropdown" dropdown-toggle>
                                            <i class="fa fa-sort-desc"></i>
                                          </a>
                                          <ul class="dropdown-menu" aria-labelledby="simple-dropdown">
                                            <li><a ng-href="#/logout">Logout</a></li>
                                          </ul>
                                        </span>
                                    </li>
                                    
                                </ul>   

                            </nav>
                        </div>
                        <!-- /Top Nav -->

                    </div><!-- /.container -->
                </header>
                <!-- /Top Nav -->

            </div>


 
            <!-- /CONTENT -->

            <ng-view></ng-view>
            <div ui-yield-to="modals">
            </div>
            
            <a href="#" id="toTop"></a>
            
        </div><!-- /#wrapper -->

        <script src="js/app.js"></script>
        <script type="text/javascript" src="js/services/fsCordova.js"></script>
        <script type="text/javascript" src="js/services/appfactory.js"></script>
        <script type="text/javascript" src="js/controllers/homeController.js"></script>
        <script type="text/javascript" src="js/controllers/signupController.js"></script>
        <script type="text/javascript" src="js/controllers/loginController.js"></script>
        <script type="text/javascript" src="js/controllers/logoutController.js"></script>
        <script type="text/javascript" src="js/controllers/myChannelsController.js"></script>
        <script type="text/javascript" src="js/controllers/followedChannelsController.js"></script>
        <script type="text/javascript" src="js/controllers/channelController.js"></script>
        <script type="text/javascript" src="js/controllers/createChannelController.js"></script>
        <script type="text/javascript" src="js/controllers/addPostController.js"></script>
        <script type="text/javascript" src="js/controllers/addAdminController.js"></script>
        <script type="text/javascript" src="js/controllers/allChannelsController.js"></script>
        <script type="text/javascript" src="js/controllers/sidebarController.js"></script>
        <script type="text/javascript" src="js/controllers/fullImageController.js"></script>
        <script type="text/javascript" src="js/controllers/forgotPasswordController.js"></script>
        <script type="text/javascript" src="js/controllers/resetPasswordController.js"></script>
        <script type="text/javascript" src="js/controllers/editchannelController.js"></script>
        <script type="text/javascript" src="js/directives/textFilter.js"></script>
        <script type="text/javascript" src="js/directives/picture.js"></script>
        <script type="text/javascript" src="js/directives/webfile.js"></script>
        <script type="text/javascript">
        $(document).ready(function(){
            var domElement = document.querySelector('body');
            angular.bootstrap(domElement, ["campusfeed"]);
        }); 
        </script>
    </body>
</html>