
 <div class="section">
  <div class="container">

    <div class="row">
     <div class="col-md-offset-2 col-md-8 shadow" style="border-left:1px solid #000;border-right:1px solid #000;border-bottom:1px solid #000;">
      <form name="addPostForm" role="form" style="margin-top:5%;">
        <fieldset>
          
          <p ng-show="errorBox==true" class="text-danger">Network error. Please try again.</p>
            <div class="form-group has-success has-feedback">
              
              <textarea rows="3"
                     ng-model="text"
                     class="form-control input-lg"
                     placeholder="What do you wanna say?" required></textarea>
            </div>

            <div class="form-group has-success has-feedback">
              <label>Add an image (if you wish):</label>
              <input type="file" fileread="picture" accept="image/*" />
            </div>

            <!-- <div class="form-group">
              
              <input type="checkbox" ng-model='isAnonymous' name="checkbox"><span>  Add anonymously?</span>
            </div> -->
            
        </fieldset>


        <button class="btn btn-primary btn-block btn-lg" ng-click="submit() && addPostForm.$valid && statusText != 'Loading'">
          {{statusText}}
        </button>
        <br />
        
      </form>
   </div>
</div>
</div>
</div>
<div ui-content-for="modals">
  <div ng-include="'html/post_creation_feedback.html'"></div>
</div>