<style>
.seen {
	color:#f96015; 
}

.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

</style>

<div style="height:100%;background-color:#fff;border:2px solid #f96015;overflow:auto;" class="col-xs-7 col-sm-3 col-md-5 sidebar sidebar-right sidebar-animate shadow">
	<h3 style="margin-top:20px;margin-left:5px;">{{channelDetails.channel_name}} discussion threads</h3>
	<p ng-show="errorBox2==true" class="text-danger">Network error.</p>
  	<table class="table">
	  	<tbody style="border-bottom:1px solid #e6e6e6;">
	  		<tr><a ng-click="threadTopicBox=!threadTopicBox"><i style="font-size: 20px;" class="fa fa-plus-circle fa-2x"></i><span> Add a new thread</span></a></tr>
	  		<tr ng-if="threadTopicBox == 1">
	  			<td>
		  		<div class="form-group has-success has-feedback" style="margin-top:3%;">
	          
		          <label class="col-xs-10"><input type="text"  ng-model='topic' class="form-control" placeholder="Add topic of the thread" />
		          </label>
		           <button  ng-click="addThread(topic) && addThreadText != 'Loading...'" class="btn btn-primary col-xs-2">{{addThreadText}}</button>
		        </div>
	    		</td>
	    	</tr>
		  	<tr ng-repeat="thread in threads" style="cursor:pointer;"  ng-click="gotoThread(thread)">
		  		
		  		<td class="col-xs-10"><h4 style="margin-bottom:1%;" class="text-capitalize"><b>{{thread.topic}}</b></h4>
				<p style="margin-bottom:1%;"><i class="li li-user-follow"></i> 
				  started by {{thread.full_name}} on {{thread.created_time}}</p>
				<p style="margin-bottom:1%;"><i class="fa fa-eye fa-lg seen" ></i> <ng-pluralize count="thread.num_views"
                when="{'0': 'No views yet',
                       '1': '1 view',
                       'other': '{} views'}">
  				</ng-pluralize></p>
		  		</td>
		  	</tr>
	  	</tbody>
	</table>
	<button class="btn btn-primary btn-block" ng-click="loadMoreThreads() && statusText2 != 'Loading...'" ng-show="errorBox==false && pending_request == 0 && threads.length>=10">
	      {{statusText2}}
	</button>
</div>

<div class="col-md-offset-2 col-md-8 shadow" style="border-left:1px solid #000;border-right:1px solid #000;border-bottom:1px solid #000;"> 
	
		<table class="table" >
		  <tbody style="border-bottom:1px solid #e6e6e6;">
		  	<tr >
		  		<td class="col-xs-2"><img ng-src="{{channelDetails.channel_img_url}}" class="img-responsive img-rounded" ></td>
		  		
		  		<td class="col-xs-10"><h4 class="text-capitalize"><b>{{channelDetails.channel_name}}</b><div class="btn-group pull-right" >
		  			<span dropdown on-toggle="toggled(open)">
				      <a href id="simple-dropdown" dropdown-toggle>
				        <i class="fa fa-ellipsis-v fa-lg"></i>
				      </a>
				      <ul class="dropdown-menu" aria-labelledby="simple-dropdown">
				        <li ng-show="is_admin==1"><a ng-href="#/channels/{{channel_id}}/addadmin">Add admin</a></li>
				        <li ng-show="is_admin==1"><a ng-click="openedit()">Edit channel</a></li>
				        <li ng-show="is_admin==0 && type=='related'"><a ng-click="unfollow()">Unfollow this channel</a></li>
				      </ul>
				    </span>
		            
		            
          		</div></h4>
				<p><i class="fa fa-reply-all"></i> 
				<ng-pluralize count="channelDetails.num_followers"
                when="{'0': 'Nobody is following',
                       '1': '1 person following',
                       'other': '{} people following'}">
  				</ng-pluralize></p>
  				<p><a ng-click="getChannelDetails()">Click</a> for more info</p>
  				<p><button type="button" ng-click="getThreads()" data-toggle="sidebar" data-target=".sidebar">{{discussionText}}</button></p>
		  		</td>
		  	</tr>
		  </tbody>
		</table>
	
 	
		<div class="panel panel-default" ng-if="type=='unrelated' || showDetails == 1">
			<div class="panel-body">
			    <table  style="border:none;">
			  		<tbody style="border:none;">
					  	<tr style="border:none;">
					  		<td class="col-xs-12"><h5><b>Created on:</b> {{channelDetails.created_time}}</h5></td>
					  	</tr>
					  	<tr style="border:none;">
					  		<td class="col-xs-12"><h5><b>Channel admins:</b> <span class="text-capitalize" ng-repeat="admin in channelDetails.admins">{{admin.full_name}} {{$last ? '' : ($index==channelDetails.admins.length-2) ? 'and' : ','}}  </span></h5></td>
					  	</tr>
					  	<tr style="border:none;">
					  		<td class="col-xs-12"><h5>{{channelDetails.description}}</h5></td>
					  	</tr>
					  	<tr style="border:none;" ng-if="type=='unrelated'">
					  		<td class="col-xs-12">
					  			<div class="form-group">
              
					              <input type="checkbox" ng-model='getNotifications' name="checkbox"><span>  Want push notifications on Campusfeed App?</span>
					            </div>
					  		<button class="btn btn-primary btn-block" ng-click="follow() && followText != 'Loading...'" >
	     					{{followText}}
	    					</button>
							</td>
					  	</tr>
					  	<tr ng-if="is_admin==1">
					  		<td class="col-xs-12">
					  			<h5><a ng-click="followerDetails()">Click</a>  to see followers</h5>
					  			<h5 ng-show="followers != {}"><span class="text-capitalize" ng-repeat="follower in followers">{{follower.user_full_name}} {{$last ? '' : ($index==followers.length-2) ? 'and' : ','}}  </span></h5>
						  	</td>
						</tr>
					 </tbody>
				</table>
			</div>
		</div>
		<div class="app-content-loading text-center vertical-center" ng-if="pending_request==1">
          <i class="fa fa-cog fa-spin loading-spinner fa-2x"></i>
        </div>
        <h4 ng-show="anyAval==0 && is_admin==1" class="center-block">You haven't added any posts yet.<br/> 
        	<br/> 
        		<a ng-href="#/channels/{{channel_id}}/addpost">Let's fix that!</a></h4>
        		<h4 ng-show="loggedIn==false && channelDetails.channel_name != 'Campusfeed Blog'"  class="center-block"><a ng-href="#/login?redirect_to=channels/unrelated/{{channel_id}}">Register/login with Campusfeed to see posts of this channel.</a></h4>
 		<div  ng-repeat="post in channelPosts" ng-class="{'panel panel-default bootcards-media' : post.pending_bit==0, 'panel panel-danger bootcards-media' : post.pending_bit==1}" ng-init="post.showMore=0;post.approveText='Approve'" >
	        <div class="thumbnail" ng-if="post.post_img_url != ''"><img ng-src="{{post.post_img_url}}" class="center-block img-responsive fixedSize" ng-click="open(post.post_img_url)" style="cursor:pointer;"  /></div>
	        <div class="panel-body">
	          <h5 style="white-space: pre-wrap;" ng-show="post.text.length>300 && post.showMore==0" ng-bind-html="post.text | cut:true:300:'....' | linky:'_blank'"></h5><span ng-show="post.text.length>300 && post.showMore==0"><a ng-click="post.showMore=1">Show more</a></span>
	          <h5  style="white-space: pre-wrap;" ng-show="post.text.length<=300 || post.showMore==1" ng-bind-html="post.text | linky:'_blank'"></h5>
	          <span><a ng-show="post.text.length>300 && post.showMore==1" ng-click="post.showMore=0">Show less</a></span>
	        </div>
	        <div class="panel-footer">
			    <div class="btn-group btn-group-justified">
			      <div class="btn-group">
			      	<div class="pull-left" style="color:#898888;">{{post.created_time}}</div>
			        <button class="btn btn-primary" ng-show="post.pending_bit==1 && post.is_admin==1" ng-click="post.approveText != 'Loading...' && approve(post.channel_id,post)">{{post.approveText}}</button>
			      </div>
			      
			      <div class="btn-group">
			      	
			      	<div class="pull-right"><i class="fa fa-eye fa-lg seen" ></i>    {{post.num_views}}</div>
			        
			      </div>
			    </div>
			</div>
		</div>
		<button class="btn btn-primary btn-block" ng-click="loadMorePosts() && statusText != 'Loading...'" ng-show="anyAval==1 && moreAval==1 && errorBox==false && pending_request == 0">
	      {{statusText}}
	    </button>
 	
 </div>
 
<script type="text/ng-template" id="fullImage.html">
        <div class="modal-header">
            <h4 class="modal-title">Click to zoom</h4>
        </div>
        <div class="modal-body" style="overflow:scroll;">
            <img class="image center-block"  ng-src="{{selectedImgUrl}}" / >
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="cancel()">Close</button>
        </div>
        <script>
        	$('.image').on('click', function () {
			    if (typeof this.toggleZoom === "undefined") this.toggleZoom = false;
			    this.toggleZoom = !this.toggleZoom;
			    resizeImg(this);
			});

			function resizeImg(img) {
			    var scale = (img.toggleZoom) ? 150 / 100 : 100 / 150;
			    console.log(scale);
			    var pos = $(img).offset();
			    var clickX = event.pageX - pos.left;
			    var clickY = event.pageY - pos.top;
			    var container = $(img).parent().get(0);

			    $(img).css({
			        width: img.width * scale,
			        height: img.height * scale
			    });

			    container.scrollLeft = ($(container).width() / -2) + clickX * scale;
			    container.scrollTop = ($(container).height() / -2) + clickY * scale;
			}
        </script>
    </script>
<script type="text/ng-template" id="editchannel.html">
		
	
      <div class="modal-header">
        <button class="close">&times;</button>
        <h4 class="modal-title">Edit Channel</h4>
      </div>
      <div class="modal-body">
        
      <section style="padding-top:0px;">
        <div class="container">

          <div class="row">
          
            <div class="col-md-6 col-sm-6">
              <p ng-show="errorBox==true" class="text-danger">There was some error with your login. Please try again.</p>
              <!-- registration form -->
              <form name="editChannelForm" class="sky-form boxed">
                  
                  <fieldset>                              
                      <section>
                          <label class="input">
                              <input required ng-model="name" placeholder="Channel name" type="text">
                          </label>
                      </section>

                      <section>
                          <label class="input">
                               <textarea rows="3"
                                   ng-model="descr" class="form-control input-lg"
                                   placeholder="Description for your channel" required></textarea>
                          </label>
                      </section>

                      <!-- <section>
                        <label class="checkbox"><input type="checkbox" ng-model='isAnonymous' name="checkbox"><i></i>Add anonymously?</label>
                       </section> -->
                      
                      
                  </fieldset>
                      
                  <fieldset>                       
                      <div class="row">
                          <section class="col col-md-12">
                              <label>Current image for your channel. Change below if you want to: </label>
                                <img style="margin-bottom:10px;" ng-src="{{img_url}}" />
                                <cropme
                                  width="500"
                                  height="500"
                                  icon-class=""
                                  type="png"
                                  destination-width="200"
                                  destination-height="200"
                                  id="cropme1"
                                  >
                              </cropme>
                              <button type="submit" class="button" ng-click="ok()">{{okText}}</button>
                              <button type="submit" class="button" ng-click="cancel()">Cancel</button>
                          </section>
                      </div>
                      
                  </fieldset>
                  <footer>
                      <button type="submit" class="button col-sm-12" ng-click="statusText != 'Loading...' && editChannelForm.$valid && submit()">{{statusText}}</button>
                  </footer>
              </form>
              <!-- /registration form -->

              </div>
            </div>
          </div>
        </section>
      
      <div class="modal-footer">
        <button  ng-click="cancelmodal()" class="btn btn-default">Close</button>
      </div>
    </div>
  
      
	           
</script>