<div ui-content-for="title">
  <span>{{title}}</span>
</div>
<div class="scrollable">
	<div class="scrollable-header"></div>
  	<div class="scrollable-content section">
  		<div class="app-content-loading text-center vertical-center" ng-if="pending_request==1">
          <i class="fa fa-cog fa-spin loading-spinner fa-5x"></i>
        </div>
  		<p ng-show="errorBox==true" class="text-danger">Network error.</p>
  		<h4 ng-show="anyAval==0 && type=='mine'" class="center-block">You haven't created any channels yet.<br/> <a href="#/createchannel">Let's fix that!</a></h4>
  		<h4 ng-show="anyAval==0 && type=='related'" class="center-block">You haven't followed any channels yet.<br/> <a href="#/discoverchannels">Let's fix that!</a></h4>
  		<table class="table">
		  <tbody style="border-bottom:1px solid #e6e6e6;">
		  	<tr ng-repeat="channel in channels" ng-init="type == 'unrelated' ? channel.is_admin = 0 : (type == 'mine' ? channel.is_admin = 1 : channel.is_admin) " ng-click="goToChannel(channel)">
		  		<td class="col-xs-2"><img ng-src="{{channel.channel_img_url}}" class="img-responsive img-rounded" ></td>
		  		<td class="col-xs-10"><h4 class="text-capitalize"><b>{{channel.channel_name}}</b></h4>
				<p><i class="fa fa-reply-all"></i> 
				<ng-pluralize count="channel.num_followers"
                when="{'0': 'Nobody is following',
                       '1': '1 person following',
                       'other': '{} people following'}">
  				</ng-pluralize></p>
		  		</td>
		  	</tr>
		  </tbody>
		</table>
		<button class="btn btn-primary btn-block" ng-click="loadMore() && statusText != 'Loading...'" ng-show="anyAval==1 && moreAval==1 && errorBox == false && pending_request == 0">
	      {{statusText}}
	    </button>
  	</div>
  	<div class="scrollable-footer"><!-- Input element if the user is admin of channel --></div>
</div>
