
<section>
    <div class="container">

        <div class="row">
        
              <div class="col-md-6 col-sm-6">
                <p ng-show="errorBox==true" class="text-danger">There was some error with your login. Please try again.</p>
                <!-- registration form -->
                <form name="createChannelForm" class="sky-form boxed">
                    <header>Create a channel</header>
                    
                    <fieldset>                              
                        <section>
                            <label class="input">
                                <input required ng-model="name" placeholder="Enter a suitable name for your channel" type="text">
                            </label>
                        </section>

                        <section>
                            <label class="input">
                                 <textarea rows="3"
                                     ng-model="descr" class="form-control input-lg"
                                     placeholder="Description for your channel" required></textarea>
                            </label>
                        </section>

                        <!-- <section>
                          <label class="checkbox"><input type="checkbox" ng-model='isAnonymous' name="checkbox"><i></i>Add anonymously?</label>
                         </section> -->
                        
                        <section>
                          <label>This channel is going to help run a:</label>
                          <select ng-model="tag" class="form-control">
                            <option value="course">Course</option>
                            <option value="event">Event</option>
                            <option value="club">Club</option>
                            <option value="committee">Committee</option>
                          </select>
                        </section>
                    </fieldset>
                        
                    <fieldset>                       
                        <div class="row">
                            <section class="col col-md-12">
                                <label>Image for your channel (Click crop button once done cropping): </label>
                                  <image-crop
                                     data-width="200"
                                     data-height="200"
                                     data-shape="square"
                                     data-result="picture"
                                     data-step="imageCropStep"
                                    ></image-crop>
                            </section>
                        </div>
                        
                    </fieldset>
                    <footer>
                        <button type="submit" class="button" ng-click="statusText != 'Loading...' && createChannelForm.$valid && submit()">{{statusText}}</button>
                    </footer>
                </form>
                <!-- /registration form -->

            </div>
          </div>
        </div>
      </section>
            <!-- /REGISTER -->
            <div ui-content-for="modals">
  <div ng-include="'html/channel_creation_feedback.html'"></div>
</div>