<style>
.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.fixedSize {
	width:400px;
    height:400px;
    overflow:hidden;
    vertical-align:top;
}
</style>
<div class="col-md-offset-2 col-md-8 shadow" style="border-left:1px solid #000;border-right:1px solid #000;border-bottom:1px solid #000;">
  <tabset justified="true">
    <tab ng-repeat="tag in tags" ng-init="req_channel.channel_tag=tag">
    	<tab-heading class="text-capitalize">{{tag}}s</tab-heading>
    	<p ng-show="errorBox==true" class="text-danger">Network error.</p>
 		<h4 ng-show="anyAval==0" class="center-block">There are no posts here yet!<br/> <a href="#/discoverchannels">Follow channels</a> to get their updates in your feed.</h4>
		<table class="table">
		  <tbody style="border-bottom:1px solid #e6e6e6;">
		  	<tr ng-repeat="channel in channels | filter:req_channel" ng-click="goToChannel(channel)">
		  		<td class="col-xs-1"><img ng-src="{{channel.channel_img_url}}" class="img-responsive img-rounded" ></td>
		  		<td class="col-xs-11"><h4 class="text-capitalize"><b>{{channel.channel_name}}</b></h4>
				<p ng-if="channel.new_post_count > 0"><span class="badge">{{channel.new_post_count}} new posts</span></p>
		  		</td>
		  	</tr>
		  </tbody>
		</table>
      	<button class="btn btn-primary btn-block" ng-click="statusText != 'Loading...' && loadMore()" ng-show="anyAval==1 && moreAval==1 && errorBox==false && pending_request == 0">
	      {{statusText}}
	    </button>
    </tab>
    
  </tabset>
</div>

