<section class="page-title">
    <div class="container">

        <header>

            <ul class="breadcrumb"><!-- breadcrumb -->
                
            </ul><!-- /breadcrumb -->

            <h2><!-- Page Title -->
            </h2><!-- /Page Title -->

        </header>

    </div>          
</section>


<!-- CONTENT -->
<section>
    <div class="container">

        <div class="row">
            <p ng-show="errorBox==true" class="text-danger">Link expired!</p>
            <p ng-show="pending_request == 1" class="text-danger">Loading...</p>
            <!-- LOGIN -->
            <div class="col-md-offset-3 col-md-6 col-sm-6" ng-if="show==1">
                <p ng-show="errorBox2==true" class="text-danger">There was some error. Please try again.</p>
                <p ng-show="success==1" class="text-success">Your password was successfully changed. You can now <a href="#/login">login</a> with the new password.</p>
                <!-- login form -->
                <form name="resetPasswordForm" class="sky-form boxed" ng-submit='reset(newpassword,confirmnewpassword) && resetPasswordForm.$valid && statusText != "Loading..."'>
                    <header>Reset password</header>
                    
                    <fieldset>
  
                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-envelope"></i>
                                <input required ng-model="newpassword" type="password" placeholder="New password">
                            </label>
                        </section>
                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-envelope"></i>
                                <input required ng-model="confirmnewpassword" type="password" placeholder="Confirm new password">
                            </label>
                        </section>
                                             
                    </fieldset>
                    <footer>
                        <button type="submit" class="button">{{statusText}}</button>
                    </footer>
                </form>
                <!-- /login form -->

            </div>
            <!-- /LOGIN -->
        </div>
    </div>
</section>